.min-h-900 {
  min-height: 900px;
}
.no-decoration:hover {
  text-decoration: none !important;
}
.no-arrow::after {
  display: none !important;
}

@media (min-width: 768px) {
  .user {
    flex-direction: row-reverse;
  } 
}
